
/* 36.f97a4b0c.chunk.css | https://data.amplitude.com/static/css/36.f97a4b0c.chunk.css */

.Badge_badge__3G8ts {
  display: none;
}

.Box_inset-square__3itmI.Box_inset-size-medium__LKixJ {
  padding: 34px !important;
}

.Table_table-wrapper__3NIVk.Table_with-header__3JdIF {
  /* border-bottom-left-radius: var(--border-radius-plus-2); */
  /* border-bottom-right-radius: var(--border-radius-plus-2); */
  border-radius: 8px !important;
}

.Table_header-cell-inner__hL3ua {
  padding-left: 15px !important;
}

.Table_body-cell-outer__2ZHn2 {
  padding: 0 0 0 8px !important;
}

.Table_header-rowgroup__2iudn {
  min-width: 1024px !important;
}

.MeasureParentDimensionsAndRender_container__1xWce > div:nth-child(1) > div:nth-child(1) {
  margin: 0 auto !important;
}


